<template>
  <section>
    <base-card>
      <h2>Register as a Coach</h2>
      <coach-form @save-data="saveData"></coach-form>
    </base-card>
  </section>
</template>

<script>
import CoachForm from '../../components/coaches/CoachForm';

export default {
  name: 'CoachRegistration',
  components: { CoachForm },
  methods: {
    saveData(data) { // evento che viene generato nel child coachform
      this.$store.dispatch('coaches/addCoach', data); // dispatch action preceduta dal namespace
      this.$router.replace('/coaches'); // NB: usando replace anzichè push,non si può tornare indietro
    }
  }
};
</script>
